/* ==========================================================================
   Body effects
   ========================================================================== */

.body-wrapper {
    @include rbmh-mobile {
        transition: transform 0.5s ease;
        transform: translateZ(0px);
        padding-top: 42px;
    }
}

.mobile-header-wrapper {
    transition: transform 0.5s ease;
}

body.menu-is-active {
    // overflow: hidden;

    .body-wrapper {
        position: relative;
        height: 100vh;
        overflow-y: hidden;
    }

    &.push-left .body-wrapper {
        transform: translateX(300px) translateZ(0);

        // overflow-y: hidden !important;
   
    }

    &.push-right .body-wrapper {
        transform: translateX(-300px) translateZ(0);

        // overflow-y: hidden !important;
   
    }

    &.push-left .mobile-header-wrapper {
        transform: translateX(300px) translateZ(0);

        // overflow-y: hidden !important;
   
    }

    &.push-right .mobile-header-wrapper {
        transform: translateX(-300px) translateZ(0);

        // overflow-y: hidden !important;
   
    }

    .slide-overlay {
        right: 0;
        opacity: 1;
    }
}

/* ==========================================================================
   Overlay effects
   ========================================================================== */

.slide-overlay {
    position: fixed;
    left: 0;
    right: 100%;
    top: 0;
    bottom: 0;
    z-index: 50;
    background-color: rgba(black, 0.5);
    opacity: 0;
    transition: 0.5s opacity ease;
}

/* ==========================================================================
   Sliding effects
   ========================================================================== */

.slide-menu {
    position: fixed;
    height: 100%;
    min-height: 100vh;
    width: 300px;
    transition: 0.5s all ease;
    background-color: rgba(black, 0.05);
    padding: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.slide-left {
    transform: translateX(-300px) translateZ(0);
    box-shadow: inset -10px 0 20px -10px rgba(black, 0.15);

    &.show {
        transform: translateX(0px) translateZ(0);
        opacity: 1;
    }
}

.slide-right {
    transform: translateX(300px) translateZ(0);
    right: 0;

    &.show {
        transform: translateX(0px) translateZ(0);
        opacity: 1;
    }
}